<div class="prichead">
    <h1>Forever Free. Pay only when you grow.</h1>
    <p>No credit card needed. Cancel at anytime.

    </p>
</div>
<div class="pay">
    <p-button label="Monthly"></p-button>
    <p-button label="Yearly (Get 2 months free)"></p-button>
</div>

<div class="cards row">
    <div class="card1" style="width: 18rem;">
        <p>FREE</p>
        <div class="cardpri">
            <p>$</p>
            <p>0</p>
        </div>
        
        <p>For hobby projects</p>
        <div class="card-body">
            <h6 class="card-title"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-5atgzs" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>12 credits</h6>
            <p class="card-text">1 credit = 1 minute of video processing</p>
            <a href="#" class="btn btn-primary">Start free trial</a>
        </div>

    </div>
    <div class="card1" style="width: 18rem;">
        <div class="poprel">
            <div class="pop">
                <p>Most Popular</p>
            </div>
        </div>
        
       
        <p>FREE</p>
        <div class="cardpri">
            <p>$</p>
            <p>10</p>
            <p class="month">/month</p>
        </div>
        
        <p>For hobby projects</p>
        <div class="card-body">
            <h6 class="card-title"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-5atgzs" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>12 credits</h6>
            <p class="card-text">1 credit = 1 minute of video processing</p>
            <a href="#" class="btn btn-primary">Start free trial</a>
        </div>

    </div>
    <div class="card1" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>