<div class="prichead">
    <h1>Forever Free. Pay only when you grow.</h1>
    <p>No credit card needed. Cancel at anytime.

    </p>
</div>

<div class="pay">
    <button type="button" class="btn1 btn-primary" >Monthly</button>
    <button type="button" class="btn2 btn-primary" >Yearly (Get 2 months free)</button>

</div>

<div class="cards row">
    <div class="card1" style="width: 18rem;">
        
        <p>FREE</p>
        <div class="cardpri">
            <p>$</p>
            <p>0</p>
        </div>
        
        <p>For hobby projects</p>
        <div class="card-body">
            <h6 class="card-title"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-5atgzs" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>12 credits</h6>
            <p class="card-text">1 credit = 1 minute of video processing</p>
            <a href="#" class="btn btn-primary">Start free trial</a>
        </div>

    </div>
    <div class="card1" style="width: 18rem;">
        <div class="poprel">
            <div class="pop">
                <span id ="most">Most Popular</span>
            </div>
        </div>
        
       
        <p>STARTER</p>
        <div class="cardpri">
            <p>$</p>
            <p>10</p>
            <p class="month">/month</p>
        </div>
        
        <p>For creators</p>
        <div class="card-body">
            <h6 class="card-title"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-5atgzs" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>150 credits every month</h6>
            <p class="card-text">1 credit = 1 minute of video processing</p>
            <a href="#" class="btn btn-primary" id="btn3">Start free trial</a>
        </div>

    </div>
    <div class="card1" style="width: 18rem;">
        <p>PRO</p>
        <div class="cardpri">
            <p>$</p>
            <p>25</p>
            <p class="month">/month</p>
        </div>
        
        <p>For brands</p>
        <div class="card-body">
            <h6 class="card-title"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" focusable="false" class="chakra-icon css-5atgzs" role="presentation" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>400 credits every month   </h6>
            <p class="card-text">1 credit = 1 minute of video processing</p>
            <a href="#" class="btn btn-primary" >Start free trial</a>
        </div>
    </div>
</div>

<div class="contaner">
    <div class="content">
        <p id="need">Need a custom solution for your agency/enterprise?</p>
    <p id="write">write to</p>
    </div>
</div>